<p id="notice"></p>

<h1><%= t('reports.title') %></h1>

<p>
  <strong><%= Report.human_attribute_name(:title) %>:</strong>
  <%= @report.title %>
</p>

<p>
  <strong><%= Report.human_attribute_name(:content) %>:</strong>
  <%= @report.content %>
</p>

<%= link_to t('views.common.edit'), edit_report_path(@report) %> |
<%= link_to t('views.common.back'), reports_path %>

<hr>

<h2><%= t('comments.title') %></h2>

<%= form_with(model: [ @report, Comment.new ], local: true) do |form| %>
  <p>
    <%= form.label :title, t('activerecord.attributes.comment.title') %><br>
    <%= form.text_field :title %>
  </p>
  <p>
    <%= form.label :content, t('activerecord.attributes.comment.content') %><br>
    <%= form.text_area :content %>
  </p>
  <p>
    <%= form.submit t('comments.submit') %>
  </p>
<% end %>

<h3><%= t('comments.list') %></h3>
<% @report.comments.order(created_at: :desc).each do |comment| %>
  <div>
    <p>
      <strong><%= comment.user.name %>:</strong>
      <%= comment.title %><br>
      <strong><%= t('activerecord.attributes.comment.content') %>:</strong>
      <%= comment.content %><br>
      <small><%= l(comment.created_at, format: :short) %></small>
    </p>
    <% if comment.user == current_user %>
      <%= link_to t('views.common.destroy'), [ @report, comment ],
                  method: :delete,
                  data: { confirm: t('views.common.delete_confirm') } %>
    <% end %>
  </div>
<% end %>
